<div class=table >
    <table class="table table-hover" *ngIf="!loggedUser.teacher">
      <thead>
        <tr class="table-active">
          <th scope="col">Course</th>
          <th scope="col">Teacher</th>
          <th scope="col">Grade</th>
        </tr>
      </thead>
      <tbody>
  
        <tr *ngFor ="let entry of entryDetalis">
          <td>{{entry.course}}</td>
          <td>{{entry.teacher}}</td>
          <td>{{entry.grade}}</td>
        </tr>
      </tbody>
    </table>
</div>

  
  <div class=table >
    <table class="table table-hover" *ngIf="loggedUser.teacher">
      <thead>
        <tr class="table-active">
          <th scope="col">Student</th>
          <th scope="col">Grade</th>
        </tr>
      </thead>
      <tbody>
  
        <tr *ngFor ="let entry of entriesTeachers">
          <td>{{entry.student}}</td>
          <td>{{entry.grade}}</td>
          
        </tr>
      </tbody>
    </table>
  </div>